{% extends app.request.isXmlHttpRequest ? ':group/report:layout_ajax.html.twig' : 'group/report/layout_html.html.twig' %}

{% trans_default_domain 'robots_txt_settings' %}

{% block report_header %}
    {{ ('status.' ~ report.header)|trans }}&nbsp;&nbsp;({{ report.createdAt|date('Y-m-d H:i:s') }})
{% endblock %}

{% block report_details %}
    {% if 'exception' in report.details|keys %}
        {{ report.details.exception }}
    {% elseif 'diff' in report.details|keys %}
        <div class="row">
            <div class="col-xs-12">
                {{ report.details.diff[0]|raw }}
            </div>
        </div>
    {% elseif 'syntax_errors' in report.details|keys %}
        <ul>
            {% for error in report.details.syntax_errors %}
                <li>error</li>
            {% endfor %}
        </ul>
        {% elseif 'requested_url' in report.details|keys %}
            Запрошенный URL: {{ report.details.requested_url[0] }}
        {% else %}
            {{ report.details.content[0]|raw }}
    {% endif %}
{% endblock %}