{% if app.request.hasPreviousSession %}
    <div class="container-fluid">
        <div class="row">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="col-xs-12">
                        <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}