{%- block menu_widget -%}
    <ul class="{{ class|default('nav nav-tabs') }}" id="{{ id }}">
        {% block menu_items %}
        {% endblock %}
    </ul>
{%- endblock menu_widget -%}

{% macro menu_item(href, name) %}
    <li {% if app.request.uri == href %}class="active"{% endif %}><a href="{{ href }}">{{ name }}</a></li>
{% endmacro %}