<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        {% block content_header %}
        {% endblock %}
    </h4>
</div>

<div class="modal-body">
    {% block content_body %}
    {% endblock %}
</div>

<div class="modal-footer">
    {% block content_footer %}
    {% endblock %}
</div>
