<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog{% if large is defined %} modal-lg{% endif %}" role="document">
        <div class="modal-content">
            {%- block modal_content -%}
            {%- endblock -%}
        </div>
    </div>
</div>