{% block header_user %}
    {% if is_granted('ROLE_USER') %}
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true"
                   aria-expanded="false">{{ app.user.username }} ({{ app.user.firstName }} {{ app.user.lastName }}) <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{{ path('fos_user_profile_show') }}">{{ 'layout.profile.show'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                </ul>
            </li>
        </ul>
    {% endif %}
{% endblock %}