{% extends '::html_layout.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="error-centralized">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="col-xs-12">
                        <h2 class="text-center">Ошибка!</h2>
                    </div>
                    <div class="col-xs-12">
                        <p class="text-center">
                            Запрашиваемой страницы не существует
                        </p>
                        <div class="text-center">
                            <a onclick="history.back()" class="btn btn-default">Назад</a>
                            <a href="{{ path('homepage') }}" class="btn btn-default">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}