{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p class="text-center">
        {{ 'resetting.check_email'|trans({'%email%': app.request.get('username') }) }}
    </p>
{% endblock %}
