<div>
    <p>Тест проверяет доступность необходимых страниц сайта.</p>
    <p>Критерии прохождения теста:</p>
    <ul>
        <li><span class='label label-success ng-scope'>Успех</span><span class='text-success'>&nbsp;Код ответа 200</span></li>
        <li><span class='label label-warning ng-scope'>Предупреждение</span><span class='text-warning'>&nbsp;Код ответа 3**</span></li>
        <li><span class='label label-danger ng-scope'>Провал</span><span class='text-danger'>&nbsp;Код ответа 5**/4**</span></li>
    </ul>
</div>