{% extends app.request.xmlHttpRequest ?  ':group/project:layout_ajax.html.twig' : ':group/project/tool:list.html.twig' %}

{% block tool_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Доступность страниц</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form, {
                'attr': {
                    'class': 'form-horizontal tool-settings-form'
                }
            }) }}
            {{ form_widget(form.enabled, {
                'label': 'enabled'|trans,
                'label_attr': {'class': 'font-bold'}
            }) }}
            <hr>
            {% include '@SitebeatToolsPageAccess/tool/description.html.twig' %}
            <hr>
            <div>
                <div class="form-group">

                    {{ form_label(form.run_interval, 'run_interval.label', {
                        'label_attr': {
                            'class': 'col-sm-4 col-md-3 control-label'
                        }
                    }) }}
                    <div class="col-sm-8 col-md-9">
                        {{ form_widget(form.run_interval, {'label': false}) }}
                    </div>
                </div>
                <hr>

                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="button" class="collection-add btn btn-default">Добавить</button>
                        <button type="button" class="collection-clear btn btn-default">Удалить все</button>
                    </div>
                </div>
                <div class="form-collection" data-prototype="{% filter escape %}{{ include('@SitebeatToolsPageAccess/tool/page_prototype.html.twig', { 'form': form.pages.vars.prototype }) }}{% endfilter %}">
                    {% for page in form.pages %}
                        {{ include('@SitebeatToolsPageAccess/tool/page_prototype.html.twig', { 'form': page }) }}
                    {% endfor %}
                </div>
                <hr>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Принять изменения</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}