{% trans_default_domain "messages" %}
{% extends '@SitebeatNotifier/layout_html.html.twig' %}

{% block report_content %}
    <p>Уважаемый {{ reports[0].assignee.user.firstName }}.</p>
    <p>Ниже представлено состояние отслеживаемых вами проектов в сервисе <a href="http://sitebeat.kelnik.ru" target="_blank">http://sitebeat.kelnik.ru</a> на момент {{ "now"|date("d/m/Y H:i:s") }}.</p>

    <table>
        <thead>
        <tr>
            <th>Время</th>
            <th>Проект</th>
            <th>Тест</th>
            <th>Результат</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                <td>{{ report.createdAt|date("Y-m-d H:i:s") }}</td>
                <td><a href="{{ report.projectUri }}">{{ report.projectUri }}</a></td>
                <td><a href="{{ url('project.tool.update', {'group_id': report.project.group.id, 'project_id': report.project.id, 'tool': report.toolAlias }) }}">{{ report.toolAlias|trans }}</a></td>
                <td><a class="text-{{ report.statusLevel|status_code }}" href="{{ url('group.report.show', {'group_id': report.project.group.id, 'id': report.id}) }}">{{ report.header|trans }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}