<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {#<title>Непрочитанные уведомления ({{ reports|length }}) ({{ "now"|date("m/d/Y") }})</title>#}
</head>
<style type="text/css">
    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid #000000;
        padding: 10px;
    }

    .wrapper {
        padding: 10px;
    }

    .text-danger {
        color: #a94442;
    }

    .text-warning {
        color: #c09853;
    }

    .text-success {
        color: #3c763d;
    }
</style>
<body>
<div class="wrapper">
    {% block report_content %}
    {% endblock %}
</div>
</body>
</html>