{% trans_default_domain "messages" %}
{% extends '@SitebeatNotifier/layout_html.html.twig' %}

{% block report_content %}
    <p>Уважаемый {{ report.assignee.user.firstName }}.</p>
    <p>В системе <a href="http://sitebeat.kelnik.ru" target="_blank">http://sitebeat.kelnik.ru</a> в {{ "now"|date("d/m/Y H:i:s") }} было выполнено внеочередное сканирование одного из ваших проектов.</p>


    <table>
        <thead>
        <tr>
            <th>Проект</th>
            <th>Тест</th>
            <th>Результат</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a href="{{ report.projectUri }}">{{ report.projectUri }}</a></td>
            <td><a href="{{ url('project.tool.update', {'group_id': report.project.group.id, 'project_id': report.project.id, 'tool': report.toolAlias }) }}">{{ report.toolAlias|trans }}</a></td>
            <td><a class="text-{{ report.statusLevel|status_code }}" href="{{ url('group.report.show', {'group_id': report.project.group.id, 'id': report.id}) }}">{{ report.header|trans }}</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}