{% block header %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand" href="{{ path('homepage') }}">Sitebeat</a>
            </div>
            {% include 'KelnikUserBundle::_header_user.html.twig' %}
        </div>
    </nav>
{% endblock %}