{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="col-xs-12">
    <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">{{ 'security.login.email'|trans }}:</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" name="_username" value="{{ last_username }}" required="required">
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ 'security.login.password'|trans }}:</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="_password" required="required">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="_remember_me" value="on">
                        &nbsp;
                        {{ 'security.login.remember_me'|trans }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
                <a class="btn btn-link" href="{{ path('fos_user_resetting_request') }}">{{ 'security.login.forgot_password'|trans }}</a>
            </div>
        </div>
    </form>
</div>