{% extends "FOSUserBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/kelnikuser/css/login.css') }}">
{% endblock %}

{% block fos_user_content %}

    <div class="container">
        <div class="row">
            <div class="login-center">
                <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="page-header">
                                <h2 class="text-center">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h2>
                            </div>
                            {{ include('FOSUserBundle:Security:login_content.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}