{{ form_start(form, {
    'attr': {
        'class': 'form-horizontal project-form'
    }
}) }}
{% embed ':components:modal_content.html.twig' %}
    {% block content_header %}Права доступа к проекту{% endblock %}

    {% block content_body %}
        <div class="form-group">
            {{ form_label(form.assignee, 'project.assignee', {
                'label_attr': {
                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left'
                }
            }) }}
            <div class="col-sm-8 col-md-offset-1 col-md-8 col-xs-10">
                {{ form_widget(form.assignee, {'label': false, 'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <hr>
        <div class="form-group">
            {# editors form #}
            {{ form_label(form.editors, 'project.editors', {
                'label_attr': {
                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left'
                }
            }) }}

            {{ form_widget(form.editors, {
                'label': false,
                'attr': {
                    'class': 'checkbox col-xs-12',
                    'id': 'editors'
                }
            }) }}
            {# end editors form #}
        </div>
        <hr>
        <div class="form-group">
            {# viewers form #}
            {{ form_label(form.editors, 'project.viewers', {
                'label_attr': {
                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left'
                }
            }) }}

            {{ form_widget(form.viewers, {
                'label': false,
                'attr': {
                    'class': 'checkbox col-xs-12',
                    'id': 'viewers'
                }
            }) }}
            {# end viewers form #}
        </div>
    {% endblock %}

    {% block content_footer %}
        <button type="submit" class="btn btn-primary">Применить</button>
    {% endblock %}
{% endembed %}
    {{ form_end(form) }}
