{% extends ':components:modal_content.html.twig' %}
{% block content_header %}
    {% block report_header %}
    {% endblock %}
{% endblock %}

{% block content_body %}
    {% block report_details %}
    {% endblock %}
{% endblock %}

{% block content_footer %}
    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
{% endblock %}