{% extends ':group:layout_html.html.twig' %}

{% block group_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                        <div class="form-group">
                            {{ form_label(form.createdAt.left_datetime, 'Отчет за ', {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-xs-4">
                                <div class="input-group date" id="left-datetime">
                                    {{ form_widget(form.createdAt.left_datetime) }}
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                </div>
                            </div>

                            {{ form_label(form.createdAt.right_datetime, 'по', {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-xs-4">
                                <div class="input-group date" id="right-datetime">
                                    {{ form_widget(form.createdAt.right_datetime) }}
                                    <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.project, 'Ответственный', {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.assignee, {'placeholder': ' -- Не выбрано --'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.project, 'Проект', {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.project, {'placeholder': ' -- Не выбрано --'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.statusLevel, 'Статус', {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.statusLevel, {'placeholder': ' -- Не выбрано --'}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            {{ form_label(form.tool, 'Тест', {'label_attr': {'class': 'col-sm-2'}}) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.tool, {'placeholder': ' -- Не выбрано --'}) }}
                            </div>
                        </div>

                        <div class="form-group text-right">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-primary">Фильтровать</button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">

                    <table class="table table-hover reports-list">
                        <thead>
                        <tr>
                            <th>Создан</th>
                            <th>Проект</th>
                            <th>Тест</th>
                            <th>Ответственный</th>
                            <th>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for report in reports %}
                            <tr>
                                <td>{{ report.createdAt|date('Y-m-d H:m:s') }}</td>
                                <td>{{ report.projectUri }}</td>
                                <td>{{ report.toolAlias|trans }}</td>
                                <td>{{ report.assignee }}</td>
                                <td>
                                    <button class="btn btn-link action-button" role="button" data-target="#report" data-toggle="modal" data-href="{{ url('group.report.show', {'id': report.id, 'group_id': group.id}) }}">
                                        <span class="text-{{ report.statusLevel|status_code }}">{{ report.header|trans }}&nbsp;&nbsp;<span class="caret"></span></span>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include ':components:modal.html.twig' with {'modal_id': 'report', 'large': true } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-datetimepicker-standalone.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/moment-with-locales.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap-datetimepicker.min.js') }}"></script>

    <script>
        $(document).on('click', 'button[data-target]', function () {
            var dataTarget = $(this).attr('data-target');
            var url = $(this).attr('data-href');

            $(dataTarget).find('.modal-content').load(url);
        });

        $(document).on('hide.bs.modal', '.modal', function () {
            $(this).find('.modal-content').html('');
        });
        $today = new Date();
        $today.setHours(0, 0, 0, 0);
        $(function () {
            $('#left-datetime').datetimepicker({
                locale: 'ru',
                defaultDate: $today
            });
            $('#right-datetime').datetimepicker({
                locale: 'ru',
                useCurrent: false
            });

            $("#left-datetime").on("dp.change", function (e) {
                $('#right-datetime').data("DateTimePicker").minDate(e.date);
            });

            $("#right-datetime").on("dp.change", function (e) {
                $('#left-datetime').data("DateTimePicker").maxDate(e.date);
            });
        });
    </script>
{% endblock %}