<div>
    <p>Тест проверяет наличие тэга iframe на главной странице.</p>

    <p>По умолчанию тест содержит исключения для популярных iframe (можно отключить).</p>
    <p>Опционально можно разрешить другие iframe.</p>

    <p>Критерии прохождения теста:</p>
    <ul>
        <li><span class='label label-success ng-scope'>Успех</span><span class='text-warning'>&nbsp;Не найдено ни одного тега iframe.</span></li>
        <li><span class='label label-danger ng-scope'>Провал</span><span class='text-danger'>&nbsp;Найдены теги iframe, которые отсутствуют в списке разрешенных.</span></li>
    </ul>
</div>