<div class="form-group" id="{{ form.vars.id }}">
    {{ form_errors(form) }}
    <div class="col-xs-1">
        <button class="collection-remove btn btn-default" data-item="{{ form.vars.id }}">
            <span>&times;</span>
        </button>
    </div>
    <div class="col-xs-9">
        {{ form_widget(form.content) }}
    </div>
    <div class="col-xs-2">
        {{ form_widget(form.enabled) }}
    </div>
</div>