{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="text-center page-header">
                    <h1>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h1>
                </div>
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
