{% extends app.request.xmlHttpRequest ? '::group:layout_ajax.html.twig' : '::group:layout_html.html.twig' %}

{% block content_title %} Удаление группы {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                Вы уверены, что хотите удалить группу {{ group.name }} ?

                <form action="{{ path('group.delete', {id: group.id}) }}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <input class="btn btn-danger" type="submit" value="Удалить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

