{% extends ':group:layout_html.html.twig' %}

{% block title %}
    {{ group.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                <button type="submit" class="btn btn-primary">Изменить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

