{% extends ':group:layout_html.html.twig' %}

{% block title %}Создание группы{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Создание группы</h3>
                    </div>
                    {{ form_start(form) }}
                    <div class="panel-body">
                        {{ form_errors(form.name) }}
                        <div class="form-group">
                            {{ form_label(form.name, 'group.new.name') }}
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}