{% extends 'layout_html.html.twig' %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ group.name }}</h3>
            </div>
        </div>
    </div>

    <div class="container menu-panel">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li{% if url('project.list', {'group_id': group.id}) in app.request.uri %} class="active"{% endif %}>
                        <a href="{{ url('project.list', {'group_id': group.id}) }}">Проекты</a>
                    </li>

                    <li{% if url('group.report.list', {'group_id': group.id}) in app.request.uri %} class="active"{% endif %}>
                        <a href="{{ url('group.report.list', {'group_id': group.id}) }}">Отчеты</a>
                    </li>

                    <li{% if url('group.account.list', {'group_id': group.id}) in app.request.uri %} class="active"{% endif %}>
                        <a href="{{ url('group.account.list', {'group_id': group.id}) }}">Участники</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% block group_content %}
    {% endblock %}
{% endblock %}