{% extends '::layout_html.html.twig' %}

{% block title %}Список Аккаунтов{% endblock %}

{% block body %}
    <div class="container" id="index-menu">
        <div class="row">
            <div class="col-xs-12 text-right">
                <a href="{{ path('group.create') }}" class="btn btn-success-outlined" role="button"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Создать группу</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Группа</th>
                            <th>Роль</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td>
                                    <a href="{{ path('project.list', { group_id: account.group.id }) }}">{{ account.group.name }}</a>
                                </td>
                                <td>{{ account.role|trans }}</td>
                                <td>
                                    {% if account.role == 'group_admin' %}
                                        <a href="{{ path('group.update.form', {id: account.group.id }) }}"><span class="glyphicon glyphicon-cog"></span></a>
                                        <a href="{{ path('group.delete.form', {id: account.group.id }) }}"><span class="glyphicon glyphicon-trash"></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}