{% extends app.request.isXmlHttpRequest ? ':group/report:layout_ajax.html.twig' : 'group/report/layout_html.html.twig' %}

{% trans_default_domain 'domain_access_settings' %}

{% block report_header %}
    {{ ('status.' ~ report.header)|trans }}&nbsp;&nbsp;({{ report.createdAt|date('Y-m-d H:i:s') }})
{% endblock %}

{% block report_details %}
    {% if 'exception' in report.details|keys %}
        {{ report.details.exception }}
    {% else %}
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="text-bold">Статус-код</td>
                <td>{{ report.details.status_code[0] }}</td>
            </tr>
            <tr>
                <td class="text-bold">Заголовок ответа</td>
                <td>{{ report.details.reason_phrase[0] }}</td>
            </tr>
            {% if report.details.location is defined %}
                <tr>
                    <td class="text-bold">Адрес перенаправления</td>
                    <td>{{ report.details.location[0] }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}