/*ADDITIONAL BUTTONS*/

.btn-success-outlined, .btn-success-outlined:visited {
    background-color: #fff;
    color: #5cb85c;
    border-color: #4cae4c;
}

.btn-success-outlined:hover {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

button:focus, button:active, button:hover, button:visited {
    outline: 0;

}

/*DEFAULT COMPONENTS FIXES*/

.navbar {
    border-radius: 0;
    border: none;
}

/*MY OWN CLASSES*/

.error-centralized {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 65%;
}

.menu-panel {
    margin-bottom: 15px;
}

.items-panel .fa-external-link-square {
    margin-right: 7px;
}

.items-panel td {
    vertical-align: middle !important;
}

.no-projects-found-panel {
    border: 1px dashed lightgrey;
    padding: 20px;
}

.no-projects-found-panel > div {
    margin-bottom: 20px;
}

.no-projects-found-panel > div:last-child {
    margin-bottom: 0;
}

.btn .fa {
    margin-right: 5px;
}

/*LOADER*/

.loader-wrapper {
    margin-top: -20px;
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #d3d3d3;
    position: absolute;
    z-index: 100;
    opacity: 0.8;
}

.loader {
    display: inline-block;
    margin-top: 200px;
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #808080;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.project-form .form-group:nth-child(8) {
    margin-bottom: 0;
}

.project-form hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-form label {
    text-align: left !important;
}

.project-form label:nth-child(1) {
    padding-bottom: 7px;
}

#index-menu {
    margin-bottom: 20px;
}

.font-bold {
    font-weight: bold !important;
}

.action-button {
    padding: 0 !important;
}

.report-details > td {
    padding: 0 !important;
}

.reports-list td {
    vertical-align: middle !important;
}

.report-details > td > div > div {
    background-color: #f0f0f0;
    padding: 10px;
}

.report-status, .report-status:hover, .report-status:active, .report-status:visited {
    outline: 0 !important;
    padding-left: 0 !important;
    text-decoration: none !important;
}

.text-warning {
    color: #c09853;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.collection-label {
    text-align: left !important;
    margin-bottom: 20px !important;
}