{% extends app.request.isXmlHttpRequest ? ':group/report:layout_ajax.html.twig' : 'group/report/layout_html.html.twig' %}

{% trans_default_domain 'iframe_settings' %}

{% block report_header %}
    {{ ('status.' ~ report.header)|trans }}&nbsp;&nbsp;({{ report.createdAt|date('Y-m-d H:i:s') }})
{% endblock %}

{% block report_details %}
    {% if 'exception' in report.details|keys %}
        {{ report.details.exception }}
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            {% for iframe in report.details.iframes %}
                <tr class="{{ iframe.enabled ? 'success' : 'danger' }}">
                    <td>{{ iframe.content }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}