{% extends app.request.isXmlHttpRequest ? ':group/report:layout_ajax.html.twig' : 'group/report/layout_html.html.twig' %}

{% trans_default_domain 'page_access_settings'%}

{% block report_header %}
    {{ ('status.' ~ report.header)|trans }}&nbsp;&nbsp;({{ report.createdAt|date('Y-m-d H:i:s') }})
{% endblock %}

{% block report_details %}
    {% if 'exception' in report.details|keys %}
        {{ report.details.exception }}
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>URL</th>
                <th>Ответ</th>
                <th>Ожидаемый статус-код</th>
            </tr>
            </thead>
            <tbody>
            {% for page in report.details.pages %}
                <tr class="{{ page.status }}">
                    <td>{{ page.uri }}</td>
                    <td>{{ page.response }}</td>
                    <td>{{ page.expected_code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}