{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit', 'novalidate': 'novalidate' } }) }}
{{ form_row(form.email) }}
{{ form_row(form.firstName) }}
{{ form_row(form.lastName) }}
<input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}">
<a href="{{ path('fos_user_profile_show') }}">
    <button class="btn btn-danger" type="button">{{ 'profile.edit.cancel'|trans }}</button>
</a>
{{ form_end(form) }}
