{% trans_default_domain 'FOSUserBundle' %}

<div>
    <a href="{{ path('fos_user_profile_edit') }}">{{ 'layout.profile.edit'|trans }}</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{ path('fos_user_change_password') }}">{{ 'layout.change_password'|trans }}</a>
</div>
<hr>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>{{ 'profile.show.first_name'|trans }}: {{ user.firstName }}</p>
    <p>{{ 'profile.show.last_name'|trans }}: {{ user.lastName }}</p>
</div>
