{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="text-center">
                        <h2>{{ 'layout.profile.show'|trans({}, 'FOSUserBundle') }}</h2>
                    </div>
                    <div class="panel-body">
                        {% include "FOSUserBundle:Profile:show_content.html.twig" %}
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock fos_user_content %}