<div>
    <p>Тест проверяет доступность и правильность файла /robots.txt</p>
    <p>Критерии прохождения теста:</p>
    <ul>
        <li><span class='label label-success ng-scope'>Успех</span><span class='text-success'>&nbsp;Файл присутствует, составлен в соответствии с правилами. Если задан эталон, то требуется полное соответствие ему.</span></li>
        <li><span class='label label-danger ng-scope'>Провал</span><span class='text-danger'>&nbsp;Файл отсутствует, не соответствует правилам или, если задан эталон, не соответствует ему полностью.</span></li>
    </ul>
</div>