{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_row(form.current_password) }}
{{ form_row(form.plainPassword.first) }}
{{ form_row(form.plainPassword.second) }}
<input class="btn btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}">
<a href="{{ path('fos_user_profile_show') }}">
    <button class="btn btn-danger" type="button">{{ 'change_password.cancel'|trans }}</button>
</a>
{{ form_end(form) }}
