<div>
    <p>Тест проверяет наличие закрытых тэгов Noindex на главной странице.</p>
    <p>Критерии прохождения теста:</p>
    <ul>
        <li><span class='label label-success ng-scope'>Успех</span><span class='text-success'>&nbsp;Тэг Noindex отсутствует или закрыт.</span></li>
        <li><span class='label label-danger ng-scope'>Провал</span><span class='text-danger'>&nbsp;Тэг Noindex есть и не закрыт.</span></li>
    </ul>
</div>