<form action="{{ url('project.delete', {id: project.id, group_id: group.id}) }}" method="post">
    <input type="hidden" name="_method" value="delete">
    {% embed ':components:modal_content.html.twig' %}
        {% block content_header %}Удаление проекта {{ project.uri }}{% endblock %}

        {% block content_body %}
            <p>Вы уверены, что хотите удалить проект сайта <b>{{ project.uri }}</b>?</p>
            <p>После удаления сайт невозможно будет восстановить, а все отчеты о сканировании будет удалена.</p>
        {% endblock %}

        {% block content_footer %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
            <input class="btn btn-danger" type="submit" value="Удалить">
        {% endblock %}
    {% endembed %}
</form>