{% extends ':group:layout_html.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Создание проекта</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, {
                            'attr': {
                                'class': 'form-horizontal project-form'
                            }
                        }) }}
                        <div class="form-group">
                            {{ form_label(form.uri, 'project.uri', {
                                'label_attr': {
                                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left',
                                }
                            }) }}
                            <div class="col-sm-8 col-md-offset-1 col-md-8 col-xs-10">
                                {{ form_widget(form.uri, {'label': false,
                                    'attr': {
                                        'class': 'form-control',
                                        'placeholder': 'project.uri_placeholder'
                                    }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.assignee, 'project.assignee', {
                                'label_attr': {
                                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left'
                                }
                            }) }}
                            <div class="col-sm-8 col-md-offset-1 col-md-8 col-xs-10">
                                {{ form_widget(form.assignee, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            {# editors form #}
                            {{ form_label(form.editors, 'project.editors', {
                                'label_attr': {
                                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left'
                                }
                            }) }}

                            {{ form_widget(form.editors, {
                                'label': false,
                                'attr': {
                                    'class': 'checkbox col-xs-12',
                                    'id': 'editors'
                                }
                            }) }}
                            {# end editors form #}
                        </div>
                        <hr>
                        <div class="form-group">
                            {# viewers form #}
                            {{ form_label(form.viewers, 'project.viewers', {
                                'label_attr': {
                                    'class': 'col-xs-2 col-sm-4 col-md-3 control-label text-left'
                                }
                            }) }}

                            {{ form_widget(form.viewers, {
                                'label': false,
                                'attr': {
                                    'class': 'checkbox col-xs-12',
                                    'id': 'viewers'
                                }
                            }) }}
                            {# end viewers form #}
                        </div>
                        <button type="submit" class="btn btn-primary">Применить</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
