{% extends '::layout_html.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>
                    {{ project.uri }}
                </h2>
            </div>
        </div>
    </div>

    <div class="container menu-panel">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    {#<li{% if app.request.uri == url('project.tool.list', {'group_id': group.id, 'project_id': project.id}) %} class="active"{% endif %}>#}
                    <li class="active">
                        <a href="{{ url('project.tool.list', {'group_id': group.id, 'project_id': project.id}) }}">Настройки тестов</a>
                    </li>
                    <li class="active navbar-right btn-link"><a href="{{ url('project.list', {'group_id': group.id}) }}"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Список проектов</a></li>
                </ul>
            </div>
        </div>
    </div>


    {% block project_content %}
    {% endblock %}
{% endblock %}