{% extends ':group:layout_html.html.twig' %}

{% block title %}Проекты{% endblock %}

{% block group_content %}
    <div class="container">
        <div class="row">
            <div class="menu-panel">
                <div class="col-xs-6">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    <div class="form-group">
                        <div class="col-xs-4">
                            {{ form_label(form.account, 'Просмотр от имени:') }}&nbsp;&nbsp;
                        </div>
                        <div class="col-xs-8">
                            {{ form_widget(form.account, {'label': false}) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-xs-6">
                    <div class="text-right">
                        <button type="button" id="expand-all-projects" href="#" class="btn btn-default">Раскрыть все</button>
                        <a type="button" href="{{ url('project.create.form', {group_id: group.id}) }}" class="btn btn-success-outlined"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Создать проект</a>
                    </div>
                </div>
            </div>
        </div>
        {% if projects is empty %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 text-center no-projects-found-panel">
                    <div class="col-xs-12">
                        Нет проектов. Нажмите &quot;Создать проект&quot;.
                    </div>

                    <div class="col-xs-12">
                        <a href="{{ url('project.create.form', {group_id: group.id}) }}" class="btn btn-lg btn-success-outlined"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Создать проект</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default items-panel">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Url</th>
                                <th>Статус</th>
                                <th>Ответственный</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for project in projects %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td><a href="{{ project.uri }}"><span class="glyphicon glyphicon-new-window"></span></a><a class="btn btn-link" href="{{ path('project.show', {group_id: group.id, id: project.id}) }}">{{ project.uri }}</a></td>
                                    <td>
                                        <button class="btn btn-link report-status" type="button" data-toggle="collapse" data-target="#project{{ loop.index }}" aria-expanded="false">
                                            {% if project.hasNotSuccessfulReports %}
                                                <span class="text-danger">Найдены ошибки&nbsp;&nbsp;<span class="label label-default">{{ project.latestNotSuccessfulReports|length }}</span></span>
                                            {% else %}
                                                <span class="text-success">Нет ошибок</span>
                                            {% endif %}
                                        </button>
                                    </td>
                                    <td>{{ project.assignee.user.firstName }} {{ project.assignee.user.lastName }}</td>
                                    <td>
                                        <button class="btn btn-link action-button" role="button" data-target="#permissions" data-toggle="modal" data-href="{{ url('project.permissions.update.form',{group_id: group.id, project_id: project.id}) }}">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </button>
                                        <button class="btn btn-link action-button" role="button" data-target="#delete" data-toggle="modal" data-href="{{ path('project.delete.form', {group_id: group.id, id: project.id}) }}"><span class="glyphicon glyphicon-trash"></span></button>
                                    </td>
                                </tr>
                                <tr class="report-details">
                                    <td colspan="5">
                                        <div class="collapse" id="project{{ loop.index }}">
                                            <div style="padding: 0;">
                                                <table class="table table-hover no-bottom-margin">
                                                    <thead>
                                                    <tr>
                                                        <th>Тест</th>
                                                        <th>Время сканирования</th>
                                                        <th>Статус</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for report in project.latestReports %}
                                                        <tr class="{{ report.statusLevel|status_code }}">
                                                            <td>{{ report.toolAlias|trans }}</td>
                                                            <td>{{ report.createdAt|date('Y-m-d H:i:s') }}</td>
                                                            <td>
                                                                <button class="btn btn-link action-button" role="button" data-target="#report" data-toggle="modal" data-href="{{ url('group.report.show', {'id': report.id, 'group_id': group.id}) }}">
                                                                    {{ ('status.' ~ report.header)|trans }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% include ':components:modal.html.twig' with {'modal_id': 'report', 'large': true } %}
    {% include ':components:modal.html.twig' with {'modal_id': 'permissions' } %}
    {% include ':components:modal.html.twig' with {'modal_id': 'delete'} %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).on('click', 'button[data-target]', function () {
            var dataTarget = $(this).attr('data-target');
            var url = $(this).attr('data-href');

            $(dataTarget).find('.modal-content').load(url);
        });

        $(document).on('hide.bs.modal', '.modal', function () {
            $(this).find('.modal-content').html('');
        });

        $(document).on('click', '#expand-all-projects', function (event) {
            event.preventDefault();

            $('.collapse').each(function () {
                $(this).collapse('toggle');
            })
        });

        $(document).on('change', '#project_filter_account', function () {
            $('form[name=project_filter]').submit();
        })
    </script>
{% endblock %}