{% extends 'html_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{{ project.uri }}</h3>
            </div>
        </div>
    </div>

    {% import '::components:menu.html.twig' as menu %}
    {% embed ':components:menu.html.twig' with {'id': 'project-menu'} %}
        {% block menu_items %}
            {{ menu.menu_item(url('homepage'), 'Тестим') }}
            {{ menu.menu_item(url('project.show', {group_id: group.id, id: project.id}), 'тесто') }}
        {% endblock %}
    {% endembed %}
{% endblock %}

