{% extends ':group/project:layout_html.html.twig' %}

{% block project_content %}
    <div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked" id="tools-list">
            {% for tool_alias in tool_aliases %}
                <li{% if tool_alias in app.request.uri %} class="active"{% endif %}>
                    <a href="{{ url('project.tool.update', {'group_id': group.id, 'project_id': project.id, 'tool': tool_alias }) }}">{{ tool_alias|trans }}</a>
                </li>
            {% endfor %}
            </ul>
            </div>

            <div class="col-md-9" id="tool-settings">
                {% block tool_content %}
                {% endblock %}
            </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/form-collection.js') }}"></script>
{% endblock %}