{% extends app.request.isXmlHttpRequest ? ':group/report:layout_ajax.html.twig' : 'group/report/layout_html.html.twig' %}

{% trans_default_domain 'domain_access_settings' %}

{% block report_header %}
    {{ ('status.' ~ report.header)|trans }}&nbsp;&nbsp;({{ report.createdAt|date('Y-m-d H:i:s') }})
{% endblock %}

{% block report_details %}
    {% if 'exception' in report.details|keys %}
        {{ report.details.exception }}
    {% else %}
        {% if report.details.found is defined %}
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td class="text-bold">Открывающих тегов</td>
                    <td>{{ report.details.found[0].opened }}</td>
                </tr>
                <tr>
                    <td class="text-bold">Закрывающих тегов</td>
                    <td>{{ report.details.found[0].closed }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}
    {% endif %}
{% endblock %}