{% extends ":group:layout_html.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Приглашение нового пользователя</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_label(form.email, 'invitation.email') }}
                            {{ form_widget(form.email, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            <span class="help-block">На этот e-mail будет отправлено приглашение, которое пользователь должен будет подтвердить.</span>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.role, 'invitation.role') }}
                            {{ form_widget(form.role, {'label': false, 'attr': {'class': 'form-control'}}) }}
                            <span class="help-block">Будьте осторожны при выборе роли пользователя.</span>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить приглашение</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}