{% extends ":group:layout_html.html.twig" %}

{% block title %}Участники{% endblock %}

{% block group_content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 menu-panel">
                <div class="text-right">
                    <a type="button" href="#" class="btn btn-success-outlined"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Пригласить нового пользователя</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default items-panel">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>E-mail</th>
                            <th>Имя</th>
                            <th>Роль</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for account in accounts %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ account.email }}</td>
                                <td>{{ account }}</td>
                                <td>{{ account.role|trans }}</td>
                                <td>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="glyphicon glyphicon-ban-circle"></span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}